{% extends "base.html" %}

{% block content %}
    <div style="background-color: #D4EBF8">
        <div style="margin-left: 5%; margin-right: 5%">
            <h1 class="table_data">Должники</h1>
            <table>
                {% for elem in data %}
                <tr class="table_color">
                    <td>{{ elem[0] }}</td>
                    <td class="table_color">{{ elem[1] }}</td>
                </tr>
                {% endfor %}
            </table><br>
        </div>
        <img src="{{url_for('static', filename='img/image.png')}}" class="center">
        <br>
    </div>
{% endblock %}